<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrlShortner</title>

</head>

<body>
    <h1> URL Shortener</h1>
    <form action="/url" method="POST">
        <input type="text" name="url" placeholder="Enter URL" required>
        <button type="submit">Generate</button>
    </form>
    <h1>URLs</h1>
    <table>
        <thead>
            <tr>
                <th>Short Url</th>
                <th>Original Url</th>
                <th>Clicks</th>
                <th>Created At</th>
                <th>Updated At</th>


            </tr>
        </thead>
        <% urls.forEach(
            (url) => {
                %>
                <tbody>
                    <tr>
                        <td><%= url.shortId %><br>
                        <a href="/url/<%= url.shortId %>">Click Here</a>
                        </td>
                        <td><%= url.redirectURL %></td>
                        <td><%= url.visitHistory.length %></td>
                        <td><%= url.createdAt %></td>
                        <td><%= url.updatedAt %></td>
                    </tr>
                </tbody>
            
            
                 <%
            }
        ) %>
    
    
   
    
</body>
</html>