<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UrlShortner</title>

</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    h1 {
        text-align: left;
        margin: 0;
        font-family: sans-serif;
    }

    label,
    input {
        font-family: sans-serif;
        padding-bottom: 10px;
        font-size: 20px;
        padding-bottom: 0px;
    }

    input {
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: white;
        border: 2px solid #2D3250;
    }

    body {
        color: white;
        background: #424769;
    }
    table{
        background: #2D3250;
    }

    div {
        align-items: center;
        margin: 30px;
    }

    button {
        background-color: #2D3250;
        color: white;
        font-size: 25px;
        border-radius: 5px;
        border: none;
        border: solid white 1px;
    }
    button:hover {
        border: solid black 2px;
        background-color: white;
        color: black;
        transition: .4s;
        cursor: pointer;
    }
</style>

<body>
    <h1>URL Shortener.</h1>
    <% if (locals.id) { %>0
        <p class="textplace">URL Generated: http://localhost:8000/url/<%= id %>
        </p>
        <% } %>
            <div>
                <form method="POST" action="/url">
                    <label>Enter your original URL:</label>
                    <input type="text" placeholder="https://example.com" name="url">
                    <button type="submit">Generate</button>
                </form>
            </div>
            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <th>S. No</th>
                            <th>ShortID</th>
                            <th>Redirect</th>
                            <th>Clicks</th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% } %>
            </div>
</body>

</html>